<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Bean实例化三种方式：1.无参构造方法实例化2.工厂静态方法实例化3.工厂实例方法实例化-->
<!--    无参构造方法实例化-->
<!--    <bean id="userDao" class="com.mosheyu.dao.impl.UserDaoImpl" init-method="init" destroy-method="destory"></bean>-->
<!--    工厂静态方法实例化-->
<!--    <bean id="userDao" class="com.mosheyu.factory.StaticFactory" factory-method="getUserDao"></bean>-->
<!--    工厂实例方法实例化-->
<!--    <bean id="factory" class="com.mosheyu.factory.DynamicFactory"></bean>-->
<!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->

    <bean id="userDao" class="com.mosheyu.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.mosheyu.service.impl.UserServiceImpl"></bean>



</beans>